<footer class="mt-3" >
  <div class="f-info">
    <div class="f-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <a href='https://www.instagram.com/aditya05yt/'><i class="fa-brands fa-square-instagram"></i></a>
        <a href='https://www.linkedin.com/in/aditya05yt/'><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy Wanderstay Private, Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>&nbsp &nbsp
        <a href="/terms">Terms</a><br>
        <p></p>
    </div>
</div>  
</footer>
