<%- layout("/layouts/boilerplate") -%>
<link rel="stylesheet" href="/css/style.css">
<div class="row">
    <div class="col-8 offset-2">
        <h2>Create a New Listing</h2>
    <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <lable for="title" class="form-label">Title</lable>
            <input name="listing[title]" type="text" 
             placeholder="enter title" class="form-control" required>
             <div class="invalid-feedback">
                Please enter valid title.
              </div>
        </div>
        <div class="mb-3">
            <lable for="description" class="form-label">Description</lable> 
            <textarea name="listing[description]" placeholder="enter description" 
            class="form-control" required></textarea>
            <div class="invalid-feedback">
                Please enter valid description.
              </div>
        </div> 
        <div class="mb-3">
            <label class="form-label">Categories</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="listing[categories][]"  id="mountains" value="Mountains">
                <label class="form-check-label" for="mountains">Mountains</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="listing[categories][]"  id="boat" value="Boat">
                <label class="form-check-label" for="beach">Boat</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="listing[categories][]" id="pools" value="Amazing pools">
                <label class="form-check-label" for="city">Amazing pools</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="listing[categories][]"  id="camping" value="Camping">
                <label class="form-check-label" for="city">Camping</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="listing[categories][]"  id="arctic" value="Arctic">
                <label class="form-check-label" for="city">Arctic</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="listing[categories][]" id="farms" value="Farms">
                <label class="form-check-label" for="city">Farms</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="listing[categories][]"  id="castles" value="Castles">
                <label class="form-check-label" for="city">Castles</label>
            </div>
        </div>  
       <div class="mb-3" >
        <lable for="image" class="form-label">Upload Listing Image  (.jpeg or .jpg)</lable> 
        <input name="listing[image]" type="file"
        class="form-control" placeholder="upload file" required>
       </div>
       <div class="row">
        <div class="mb-3 col-4"> 
            <lable for="price" class="form-label">Price</lable> 
            <input name="listing[price]" class="form-control" type="number"  placeholder="enter price" required>
            <div class="invalid-feedback">
                Please enter valid price.
              </div>
        </div>
           <div class="mb-3 col-8">
            <lable for="country" class="form-label">Country</lable> 
            <input name="listing[country]" class="form-control" type="text" placeholder="enter country" required>
            <div class="invalid-feedback">
                Please enter valid country.
              </div>
        </div>
       </div>
       <div class="mb-3">
        <lable for="location" class="form-label">Location</lable>  
        <input name="listing[location]" type="text" class="form-control" placeholder="enter location" required>
        <div class="invalid-feedback">
            Please enter valid location.
          </div>
    </div> 
       <br>
        <button class="btn btn-dark add-btn">Submit</button>
    </form>
    <br>
    <br>
</div>
</div>
